{% extends 'blog/base.html' %}

{% block content %}
    <div>
        {% if post.published_date %}
            <p>
                {{ post.published_date }}
            </p>
        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}">발행</a>
        {% endif %}
    </div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}"><span>수정</span></a>
        <a href="{% url 'post_remove' pk=post.pk %}"><span>삭제</span></a>
    {% endif %}

{% endblock %}